<p style="padding-bottom: 20px;">
Please, fill the below fields to calculate your costs giving your call demand.
</p>

<table id="tbl-calls">
	<thead>
		<tr>
			<th>From DDD</th>
			<th>To DDD</th>
			<th>Call Duration</th>
			<th>Selected Plan</th>
			<th>Price with plan</th>
			<th>Price without plan</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>

<div style="float: none; clear: both;">
	<button class="b-confirm" onclick="javascript: addCall();">( + ) Calculate another call</button>
	<button class="b-cancel" onclick="javascript: resetCalls();" style="margin-right: 1px;">Reset calls</button>
</div>
