<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br" xmlns:og="http://opengraphprotocol.org/schema/">

<head>

	<meta Expires = Thu, 17 May 2001 10:17:17 GMT />     
	<meta Cache-Control="no-cache, must-revalidate"  />	
	<meta Pragma= "no-cache"  />                       	

	<meta name="title" content="ScupTel" />
	<meta name="url" content="scuptel.com.br" />
	<meta name="robots" content="index,follow" />
	<meta name="description" content="ScupTel Calculator" />
	<meta name="keywords" content="scuptel calculator" />
	<meta name="charset" content="ISO-8859-1" />
	<meta name="autor" content="luizcapu" />
	<meta name="company" content="luizcapu" />
	<meta name="revisit-after" content="1" />
	<link rev="made" href="mailto:luizcapu@gmail.com" />
	<link href="../img/icon.png" rel="shortcut icon" type="image/x-icon"/>

	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta http-equiv="content-language" content="pt-br">

	<title>ScupTel - {PAGE_TITLE}</title>
	
	<!-- JQuery -->
	<script type="text/javascript" src="../js/jquery{JQ_VERSION}.js"></script>
	<script type="text/javascript" src="../js/jquery.numeric.js"></script>
	
		
	<script type="text/javascript">
	
	jQuery(document).ready(function() {
		$("body").fadeIn(500, function() {    	    	    	    	
		});
	});	
	</script>
	
	{SCRIPT}

	<link rel="stylesheet" type="text/css" media="print,screen" href="../css/site-style.css" />
	
</head>

<body>

	<div id="site">
	
		<div class="top">					
			<div class="app-logo">
			</div>			
		</div>
		
		<div class="main">
			<div class="location">
			{PAGE_TITLE}
			</div>
			{PAGE_CONTENT}
		</div>
		
	</div>
	
	<div id="footer">
		<div class="internal">
		&copy; ScupTel - Developed by luizcapu for Scup
		</div>
	</div>	
</body>
